<header>
    <i class="fa-solid fa-signal"></i><h3 class="title">EN LÍNEA</h3>
</header>

<section class="main">

    <div class="main-content">
        <h4 class="main-title">¿NECESITAS</h4>
        <h4 class="main-title">AYUDA CON TU SGSST?</h4>
        <h4 class="main-title">¡NUNCA HABIA SIDO TAN RÁPIDO!</h4>

        <p class="main-description">Permitenos demostrarte lo que nuestro equipo</p>
        <p class="main-description">puede hacer por ti y tu sgsst.</p>
    </div>

</section>

<section class="services">
    <h4>SERVICIOS CON INMEDIATEZ</h4>
    <p>Sin importar cuál sea tu negocio, nuestro equipo puede hacer todo desde cero.</p>

    <section>
        <div class="service">
            <div id="diseño_sgsst">
                <img src="./assets/img/service_diseño.jpeg" alt="servicio_diseño">
                <h4>DISEÑO DE SST</h4>
                <p>Creamos diseños según tu organización y número de empleados.</p>
            </div>
        </div>
        <div class="service">
            <div id="auditorias">
                <img src="./assets/img/service_auditorias.jpg" alt="servicio_auditorias">
                <h4>AUDITORIAS</h4>
                <p>Contamos con profesionales calificados y cualificados para la realización de auditorias.</p>
            </div>
        </div>
        <div class="service">
            <div id="documentos">
                <img src="./assets/img/service_documentos.jpg" alt="servicio_documentos">
                <h4>DOCUMENTOS</h4>
                <p>Diseñamos por ti, formatos, actas, procedimientos y cualquier requerimiento del sistema de gestión que necesite.</p>
            </div>
        </div>
        <div class="service" routerLink="/module-urgent">
            <div id="urgente">
                <img src="./assets/img/service_urgente.png" alt="servicio_urgente">
                <h4>URGENTSyST</h4>
                <p>Tenemos un grupo de profesionales trabajando por ti.</p>
            </div>
        </div>
    </section>
</section>

<footer>
    <section class="footer-content">SST 24/7 Cartagena www.sstveinticuatrosiete.com (+57) XXX-XXX-XXXX</section>
</footer>
