<section class="modules-urgent">

  <div class="urgent-content">
    <p class="urgent-title">Creamos para ti</p>

    <h1 class="urgent-main-title">SG-SST</h1>

    <p class="urgent-description">
      Estamos para trabajar por ti, nos importa tu sistema de gestión y el bienestar de
      tus trabajadores, pensando en ello hoy puedes utilizar nuestros servicios de Urgent SST, en el que un
      grupo de profesionales diseñan, capacitan y direccionan tu sistema.
    </p>
  </div>

</section>

<section class="services">
  <h4>¿Por qué es importante el sgsst?</h4>
  <p>
    Es un hecho factible que gracias a las normativas de seguridad se reducen los riesgos de accidentes.
    A través de estas normas no solo se protege al trabajador, sino también el ambiente natural que
    rodea las instalaciones. A los trabajadores se les debe proveer de todos los instrumentos que
    le aseguren su bienestar.
  </p>

  <section>
    <div class="service">
      <div id="diseño_sgsst">
        <i class="fa-solid fa-circle"></i><h4>Gestión del riesgo</h4>
      </div>
    </div>
    <div class="service">
      <div id="auditorias">
        <i class="fa-solid fa-circle"></i><h4>Capacitaciones</h4>
      </div>
    </div>
    <div class="service">
      <div id="documentos">
        <i class="fa-solid fa-circle"></i><h4>Asesoria</h4>
      </div>
    </div>
    <div class="service">
      <div id="urgente">
        <i class="fa-solid fa-circle"></i><h4>Calidad</h4>
      </div>
    </div>
  </section>
</section>

<footer>
  <section class="footer-content">
    <section class="contact">
      <h1>Contáctanos:</h1>
      <p>Cartagena - Colombia</p>
      <p>www.sstveinticuatrosiete.com.co</p>
    </section>

    <section class="float-end">
      <h1>SST24/7</h1>
      <p>LOS MEJORES EN ASESORÍA</p>
    </section>
  </section>
</footer>
