<header>
  <i class="fa-solid fa-signal"></i><h3 class="title">EN LÍNEA</h3>
  <button class="btn btn-dark float-end" routerLink="/create-user">REGISTRAR</button>
  <button class="btn btn-dark float-end" routerLink="/login-user">LOGIN</button>
</header>

<section class="main">

  <div class="main-content">
    <h4 class="main-title">¿NECESITAS</h4>
    <h4 class="main-title">AYUDA CON TU SGSST?</h4>
    <h4 class="main-title">¡NUNCA HABIA SIDO TAN RÁPIDO!</h4>

    <p class="main-description">Permitenos demostrarte lo que nuestro equipo</p>
    <p class="main-description">puede hacer por ti y tu sgsst.</p>
  </div>

</section>

<footer>
  <section class="footer-content">SST 24/7 Cartagena www.sstveinticuatrosiete.com (+57) XXX-XXX-XXXX</section>
</footer>
